{%extends 'base.html'%}

{% block content %}
{{block.super}}


    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>
                    {{project.project_name}}
                </h3>
            </div>
            <div class="card-body">
                <img src="{{project.project_image.url}}" class="card-img-top">
                <p class="card-text text-center">{{project.project_caption}}</p>
            </div>
            <div class="card-footer">
                <p class="card-text">{{project.published_date}}</p>
            </div>
        </div>

        <div class="container rateform">
            <form method="POST" action="/projectdetail/{{project.id}}" class="form-inline p-1" enctype="multipart/form-data">
                {% csrf_token %}    
                {{ rating_form.as_p }}
                <input class="btn btn-outline-success p-2" type="submit" name="" value="Rate Project">
            </form>
        </div>

        <section id="circleBar">
        <div class="container">
            <div class="row kura">
        {% for rating in ratings %}
            <div class="col-md-6 card-footer text-left">
                <blockquote class="blockquote">
                    <p class="mb-0">{{rating.user}}</p>
                    <!-- Insert Profile bio here -->
                    <footer class="blockquote-footer">{{project.project_url}}</footer>
                </blockquote>
            </div>
            <div class="col-md-6 card-footer">
                <div class="row">
                    <div class="col">
                        <div class="round" data-value="0.{{ rating.design }}" data-size="40" data-thickness="3" data-toggle="tooltip" data-placement="top" title="Design"> 
                          <article></article>
                        </div>
                    </div>
                    <div class="col">
                        <div class="round" data-value="0.{{ rating.usability }}" data-size="40" data-thickness="3" data-toggle="tooltip" data-placement="top" title="Usability"> 
                          <article></article>
                        </div>
                    </div>
                    <div class="col">
                        <div class="round" data-value="0.{{ rating.creativity }}" data-size="40" data-thickness="3" data-toggle="tooltip" data-placement="top" title="Creativity"> 
                          <article></article>
                        </div>
                    </div>
                    <div class="col"> 
                        <div class="round" data-value="0.{{ rating.content }}" data-size="40" data-thickness="3" data-toggle="tooltip" data-placement="top" title="Content"> 
                          <article></article>
                        </div> 
                    </div>
                    <div class="col">
                        <div class="round" data-value="0.{{ rating.design }}" data-size="40" data-thickness="3" data-toggle="tooltip" data-placement="top" title="Average"> 
                          <article></article>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
            </div>
        </div>
        </section>

        
    </div>
{% endblock %}



