{%extends 'base.html'%}

{% block content %}
{{block.super}}

    <div class="jumbotron">
        {% if registered %}
            <h1>Thank you for registering</h1>
            

        {% else %}
            <h1>Register Here!</h1>
            <h3>Fill our the form: </h3>

            <form method="POST" enctype="multipart/formdata">
                {% csrf_token %}    
                {{ registration_form.as_p }}

                <input type="submit" name="" value="Register">
            </form>
        {% endif %}
    </div>
{% endblock %}  