{%extends 'base.html'%}
{% load static %}

{% block content %}
{{block.super}}
    
    <div class="container">
        {% for projo in project %}
            <div class="card">
                <div class="card-header">
                    <h3>{{projo.project_name}}</h3>
                </div>
                <img src="{{projo.project_image}}" class="img-responsive card-img-top">
                <div class="card-body">
                    <p>
                        {{projo.project_caption}}
                    </p>
                    <a href="{{projo.project_url}}"></a>
                    <h6>{{projo.published_date}}</h6>
                </div>
                <div class="card-footer">
                    <h8>Published by {{projo.user}}</h8>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}